@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'Storm\ Gust';
  src: url('./fonts/Storm\ Gust.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Bebas\ Neue';
  src: url('./fonts/BebasNeue-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
